:root {
  --navbar-height: 70px;
  --navbar-background: rgba(64, 64, 64, 0.5);
  --document-background-color: rgba(55, 55, 55, 0.5);

  --background-color: #333;
  --text-color: #ccc;
}

:root .light {
  --navbar-background: rgba(230, 230, 230, 0.5);
  --document-background-color: rgba(189, 189, 189, 0.5);

  --background-color: #ccc;
  --text-color: #222;
}

canvas + div .top-left {
  /* Fix performance behind scene */
  z-index: 9999999999;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body main {
  /* background: linear-gradient(to right, #989898, #d7d7d7); */
  background: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

main {
  height: 100%;
  width: 100%;
}

main > * {
  z-index: 0;
}

.NavBar {
  font-family: 'Roboto Mono', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 1;
  display: flex;
  flex-direction: column-reverse;
}

.NavBar.landscape {
  bottom: unset;
  right: 0;
  width: unset;
  flex-direction: row-reverse;
  height: 100vh;
}

.NavBar .header {
  height: var(--navbar-height);
  padding: 0 0 1em;
  background-color: var(--navbar-background);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.NavBar.landscape .header {
  width: var(--navbar-height);
  height: 100vh;
  padding: 1em;
}

.NavBar.landscape .header .question {
  display: none;
}

.NavBar ul {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: var(--navbar-background);
  backdrop-filter: blur(10px);
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.3s ease;
  z-index: 1;
}

.NavBar.landscape ul {
  width: unset;
  height: 100vh;
  transform: scaleX(0);
  transform-origin: right center;
  justify-content: center;
  padding: 0 1em;
}

.NavBar.open ul {
  transform: scaleY(1);
}
.NavBar.landscape.open ul {
  transform: scaleX(1);
}

.NavBar li {
  padding: 0.5em 0.5em;
  transform: scale(1);
  cursor: pointer;
  transition: padding 0.3s ease, transform 0.3s ease;
}

.NavBar li:hover {
  transform: scale(1.15);
  padding: 1em 0.5em;
}

.delayed-5 {
  animation-delay: 5s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 3s;
  animation-fill-mode: backwards;
  animation-timing-function: ease;
}

.darkModeToggle {
  appearance: none;
  background: none;
  border: none;
  position: absolute;
  right: 5vw;
  color: var(--text-color);
}

.landscape .darkModeToggle {
  bottom: 5vh;
  right: unset;
}

.Document {
  padding: 1em 1em 5em;
  backdrop-filter: blur(10px);
  background-color: var(--document-background-color);
  color: var(--text-color);
  position: absolute;
  bottom: var(--navbar-height);
  width: 100vw;
  transform: scaleY(1) translate(0, 75%);
  transition: transform 0.5s ease;
  min-height: 40vh;
  max-height: calc(90vh - var(--navbar-height));
  max-width: unset;
  overflow-y: auto;
  transform-origin: center bottom;
}

.Document.landscape {
  width: auto;
  height: 100vh;
  bottom: unset;
  right: var(--navbar-height);
  min-width: 40vw;
  max-width: calc(90vw - var(--navbar-height));
  max-height: unset;
  transform: scaleX(1) translate(75%, 0);
  transform-origin: right center;
}

.Document.landscape.slideOut {
  transform: scaleX(0);
}

.Document:hover {
  transform: translate(0, 0);
}

.Document.slideOut {
  transform: scaleY(0);
}

.annotation {
  transition: all 0.5s ease-in-out;
  line-break: auto;
  overflow: hidden;
  pointer-events: none;
  font-size: 8px;
  font-weight: 300;
  backdrop-filter: blur(10px);
  color: white;
  padding: 0.2em;
  border-radius: 1.2em;
  background-color: rgba(55, 55, 55, 0.5);
}
